{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- BootStrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    
    <!-- Custom Css Files -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Vue -->
    <script src="https://unpkg.com/vue@next"></script>
    <title> Coin Home </title>
</head>
<body>
    
    <div class="container">
        <div class="row">
            <div class="col-8 mx-auto mt-5">
                <span class="mb-5 shadow h3 p-3 border rounded text-secondary">Cryptocurrencies</span><br><br><br>


                {% verbatim %} <!-- tag is used,Stop Execution Django Code,Only render page -->
                    <!-- !Vue Mounted Tag -->
                    <div id="app">
                        <table class="table table-hover"> 
                            <thead>
                                <tr>
                                    <th scope="col">Rank</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr v-for="coin in coins" :key="coin.id">
                                        <td class="align-middle">{{coin.rank}}</td>
                                        <td class="align-middle">
                                            <img :src="coin.image" class="px-2" width="50" alt="not found image">
                                            {{coin.name}}
                                            <small class="text-muted px-2">{{coin.symbol}}</small>
                                        </td>
                                        {{coin.state}}
                                        <td class="align-middle text-muted fw-bold" :class="{'raise':coin.state==='raise','fall':coin.state==='fall'}">{{coin.price}}</td>
                                    </tr>
                            </tbody>
                        </table>
                    </div>
                {% endverbatim %}

            </div>s
        </div>
    </div>

    <script>
        const { createApp } = Vue
        
        const CoinsApp = {
            data(){
                return{
                    coin:'Dummies Coin',
                    coins:null
                }
            },
            created(){//when working start browser,created hook immetdialy working and render vue object to html
                const socket = new WebSocket("ws://" + window.location.host + "/")
                console.log('Socket ', socket)
                let self = this
                socket.onmessage = function(e){
                    console.log('Coin Value')
                    self.coins = JSON.parse(e.data)
                    console.log('Coins... ', self.coins)
                }
            }
            //delimiters: ['[[', ']]'], => used vue variable at django template
        }
        createApp(CoinsApp).mount('#app')
    </script>


</body>
</html>